<?xml version="1.0"?>
<config>
    <modules>
        <Sysint_OrderLog>
            <version>1.0.0</version>
        </Sysint_OrderLog>
    </modules>
    <global>
        <models>
            <orderlog>
                <class>Sysint_OrderLog_Model</class>
                <resourceModel>orderlog_resource</resourceModel>
            </orderlog>
            <orderlog_resource>
                <class>Sysint_OrderLog_Model_Resource</class>
                <deprecatedNode>orderlog_mysql4</deprecatedNode>
                <entities>
                    <transaction>
                        <table>orderlog_transaction</table>
                    </transaction>
                </entities>
            </orderlog_resource>
        </models>
        <resources>
            <orderlog_setup>
                <setup>
                    <module>Sysint_OrderLog</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </orderlog_setup>
        </resources>
        <blocks>
            <orderlog>
                <class>Sysint_OrderLog_Block</class>
            </orderlog>
        </blocks>
        <helpers>
            <orderlog>
                <class>Sysint_OrderLog_Helper</class>
            </orderlog>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <orderlog>
                        <class>orderlog/observer</class>
                        <method>logOrder</method>
                    </orderlog>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Sysint_OrderLog>
                    <files>
                        <default>Sysint_OrderLog.csv</default>
                    </files>
                </Sysint_OrderLog>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <sales>
            <orderlog>
                <enabled>1</enabled>
                <decimal_factor>1.2</decimal_factor>
                <add_comment>1</add_comment>
                <order_status>pending</order_status>
            </orderlog>
        </sales>
    </default>
</config>
